@mixin sham-type-beautify($sham-beautify-fonts) {
   @if $sham-beautify-fonts == 'true' {
    text-rendering: optimizeLegibility; // Options include: auto, optimizeSpeed,optimizeLegibility, geometricPrecision
    -webkit-font-smoothing: antialiased; // Fixes poor font rendering in Chrome on Windows among other things
  }
}

// Create placeholders for core typography

@if $sham-use-core-typography == 'true' {

  /* Optionally include detect_cleartype or simlar script in your poject if you want to disable custom fonts on browsers/OS's that render them poorly.
  https://gist.github.com/cbeier/283689 */

  %sham-sans-serif-font {
    @include sham-type-beautify;
    font-family: $sham-serif-font, $sham-sans-serif-font-fallback;
    .hasFontSmoothing-false & {
      font-family: $sham-sans-serif-font-fallback;
    }
  }

  %sham-serif-font {
    @include sham-type-beautify;
    font-family: $sham-sans-serif-font, $sham-serif-font-fallback;
    .hasFontSmoothing-false & {
      font-family: $sham-serif-font-fallback;
    }
  }

  %sham-monospace-font {
    @include sham-type-beautify;
    font-family: $sham-monospace-font, $sham-monospace-font-fallback;
    .hasFontSmoothing-false & {
      font-family: $sham-monospace-font-fallback;
    }
  }

  %sham-title-font {
    @include sham-type-beautify;
    font-family: $sham-title-font, $sham-title-font-fallback;
    .hasFontSmoothing-false & {
      font-family: $sham-title-font-fallback;
    }
  }
}


// These mixins will be empty if $sham-use-core-typography is set to false

  @mixin sham-sans-serif-font {
    @extend  %sham-sans-serif-font;
  }

  @mixin sham-serif-font {
    @extend  %sham-serif-font;
  }

  @mixin sham-monospace-font {
    @extend  %sham-monospace-font;
  }

  @mixin sham-title-font {
    @extend  %sham-title-font;
  }
