// ---- Basics ----------------------------------------------------------------

$base-em: 16px !default;

$import-reset: true !default;


// ---- Colors ----------------------------------------------------------------

$red            : red;
$yellow         : yellow;
$green          : green;
$blanchedalmond : blanchedalmond;
