// ============================================================================
// File : popups.scss
// Description : Mixins for popups
//
// Mixins to include:
//    @include popup ($background-color, $text-color, $border-color);
//    @include small-popup ( $background-color, $border-color );
//
//
//
// ============================================================================


@mixin popup($background:#f7f7ec, $text:$dark-text-color, $border:#e2e2d7) {
  .popup {
    background-color : $background;
    bottom           : auto;
    color            : $text;
    left             : 201px;
    padding          : 14px;
    position         : absolute;
    top              : 0;
    min-width        : 240px;
    z-index          : 8;
    border:3px $border solid;
  }
}

@mixin popup-small($background: #f7f7ec, $border: #e2e2d7){
  background-color : $background;
  display: block;
  padding: 14px;
  position: absolute;
  top: 0;
  color: $dark-text-color;
  border:3px $border solid;

}
