@mixin sham-button {
  .sham-button {
    background-color : $sham-button-background-color;
    border           : none;
    color            : $sham-button-color;
    cursor           : pointer;
    display          : -moz-inline-stack;  /* optional */
    display          : inline-block;
    font-size        : 1em;
    height           : 3em;
    line-height      : 3em;
    padding          : 0 1em;
    text-transform   : uppercase;
    width            : auto;
    @include prefixer( text-shadow,  rgba(0, 0, 0, 0.2) 0 1px 0, spec webkit moz);

    &:hover {
      @if $sham-button-background-color != null { background-color: darken( $sham-button-color, 10%); }
      cursor: pointer;
    }  
  }
}
