@mixin sham-menu{
  .sham-menu{
    left                     : 0;
    position                 : absolute;
    z-index                  : 9;
    .sham-menu-row{
      border-bottom-style          : solid;
      border-bottom-width          : 1px;
      clear                        : both;
      cursor                       : pointer;
      padding                      : 1em;
      position                     : relative;
      white-space                  : nowrap;
      width                        : 20em;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
