@mixin sham-menu{
  .sham-menu{
    background-color         : $sham-menu-background-color;
    @include position(absolute);
    z-index                  : 9;
    .sham-menu-row{
      background-color             : $sham-menu-background-color;
      border-bottom-style          : solid;
      border-bottom-width          : 1px;
      border-color                 : $sham-menu-border-color;
      clear                        : both;
      color                        : $sham-menu-color;
      cursor                       : pointer;
      padding                      : 1em;
      @include position(relative);
      white-space                  : nowrap;
      width                        : 20em;
      &:hover {
        cursor: pointer;
        @if $sham-menu-background-color != null { background-color: darken( $sham-menu-background-color, 10% ); }
      }
    }
  }
}
