@mixin sham-popup{
  .sham-popup{
    background-color : $white;
    border-width     : 3px;
    border-style     : solid;
    bottom           : auto;
    left             : 0;
    min-width        : 240px;
    padding          : 1em;
    position         : absolute;
    top              : 0;
    z-index          : 8;
  }
}

