// Helper classes for spinner demos

.sham-spinner-circular-fading {
  @include sham-spinner-circular-fading( IndianRed, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}
.sham-spinner-spokes-fading {
  @include sham-spinner-spokes-fading( LightCoral, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-peacock-fading {
  @include sham-spinner-peacock-fading( LightSeaGreen, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-dots-fading {
  @include sham-spinner-dots-fading( Tomato, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-pinwheel-fading {
  @include sham-spinner-pinwheel-fading( purple, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-spokes {
  @include sham-spinner-spokes( LightCoral, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-pinwheel {
  @include sham-spinner-pinwheel( red, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

.sham-spinner-windmill {
  @include sham-spinner-windmill(green, 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}
.sham-spinner-skittles {
  @include sham-spinner-skittles( 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}
.sham-spinner-foliage {
  @include sham-spinner-foliage( 44px, 2s);
  width  : 44px;
  height : 44px;
  margin : 0 auto;
}

// Buttons

.sham-button-bordered-rounded {
  @include sham-button-bordered (#EF382E, #e6e6e6, white, 14px, 30px);
  margin-left : .3em;
}

.sham-button-bordered {
  @include sham-button-bordered (#A3B57B, #e6e6e6, white, 18px, 0);
  margin-left : .3em;
}

.sham-button-flat {
  @include sham-button-flat (#c66, #a3b57b, white, 13px, 0);
  text-transform : uppercase;
  margin-left    : .3em;
}

.sham-button-flat-roomy {
  @include sham-button-flat-roomy (#c66, #a3b57b, white, 13px, 0);
  text-transform : uppercase;
  margin-left    : .3em;
}

.sham-button-flat-compact {
  @include sham-button-flat-compact (#c66, #a3b57b, white, 13px, 0);
  text-transform : uppercase;
  margin-left    : .3em;
}

.sham-button-three-d {
  @include sham-button-three-d (#FC780A, white, 18px, 4px);
  margin-left : .3em;
}

.sham-button-three-d-square {
  @include sham-button-three-d (#CF504E, white, 14px, 2px);
  margin-left : .3em;
}

.sham-button-gradient {
  @include sham-button-gradient (#FDC20E, #ffa403, white, 16px, 2px);
  margin-left : .3em;
}

.sham-button-gradient-grey {
  @include sham-button-gradient (#f6f6f6, #d7d7d7, #555, 13px, 22px);
  text-shadow : 1px 1px 0px #ffffff;
  margin-left : .3em;
}


// Grid demo

.columns {
  padding : 0;
  @include clearfix;
}

#sidebar {
  @extend %sham-narrow;
  .inner {
    border      : 1px dashed lighten( $grey, 20% );
    margin-top: 1em;
    padding     : 1em;
    padding-top : 0;
  }
}

#main {
  @extend %sham-wide;
  .inner {
    border      : 1px dashed lighten( $grey, 20% );
    margin-top  : 1em;
    padding     : 1em;
    padding-top : 0;

  }
}

.foo {
  @extend %sham-third;
  .inner {
    border     : 1px dashed lighten( $grey, 20% );
    margin-top : 1em;
    padding    : 1em;
  }
}

.bar {
  @extend %sham-half;
  .inner {
    border     : 1px dashed lighten( $grey, 20% );
    margin-top : 1em;
    padding    : 1em;
  }
}

.baddabing {
  @extend %sham-single-panel;
  width : 40em;

  .inner {
    border     : 1px dashed lighten( $grey, 20% );
    margin-top : 1em;
    padding    : 1.5em;
  }
}


