@mixin sham-loading-bar ($background-color:null, $foreground-color: null, $height: null, $width:null) {
  &:before, &:after {
    height: $height;
    content: '';
  }
  &:before {
    background-color: $background-color;
    width: $width;
  }
  &:after {
    background-color: $foreground-color;
    height: $height;
    @include prefixer( animation, progress 1.5s linear infinite, spec moz webkit ms o);
  }
}

@mixin sham-spinner ( $background-color: transparent, $background-image:null, $background-position: top center, $height: null, $width: null, $padding: null) {
  background-color: $background-color;
  background-image: $background-image;
  background-position: $background-position;
  background-repeat: no-repeat;
  display: block;
  @if $height != null { height: $height; };
  @if $width != null { width: $width; };
  padding: $padding;
}


