// ---- Basics ----------------------------------------------------------------

$base-em: 16px !default;

$import-reset: true !default;


// ---- Colors ----------------------------------------------------------------

$red            : red !default;
$yellow         : yellow !default;
$green          : green !default;
$blanchedalmond : blanchedalmond !default;
$white          : white !default;
