// ---- Basics ----------------------------------------------------------------

$base-em: 16px !default;

$import-reset: true !default;


// ---- Colors ----------------------------------------------------------------

$red            : red !default;
$yellow         : yellow !default;
$green          : green !default;
$blanchedalmond : blanchedalmond !default;
$white          : white !default;


// ---- Menu ----------------------------------------------------------------

$sham-menu-background-color  : null !default;
$sham-menu-border-color      : null !default;
$sham-menu-color             : null !default;


// ---- Modal ----------------------------------------------------------------

$sham-modal-background-color            : null !default;
$sham-modal-color                       : null !default;
$sham-modal-content-background-color    : null !default;
$sham-modal-content-border-color        : null !default;


// ---- Popup ----------------------------------------------------------------

$sham-popup-background-color  : null !default;
$sham-popup-border-color      : null !default;
$sham-popup-color             : null !default;
